<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user do |f| %>
 <label> Username </label>
 <%= f.text_field :username %>
 <label> Password </label>
 <%= f.password_field :password %>
 <label>Password Confirmation</label>
 <%= f.password_field :password_confirmation %>
 <%= f.submit %>
<% end %>

 